---
layout: default
title: Blog
---

<h1>Blog!</h1>
<p>Welcome to my blog!</p>


<h2>List.</h2>

{% for post in site.posts %}
        <p class="tag_{{ post.category_code }}">{{ post.category }}</p>
        <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
    </div>
{% endfor %}



<!--
{% for post in site.posts %}
    <div class="thumbnail">
        <p class="tag_{{ post.category_code }}">{{ post.category }}</p>
        <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
        {% if post.thumbnail %}
            <img src="{{ post.thumbnail | relative_url }}"/>
        {% else %}
            <p> #no picture</p>
        {% endif %}
    </div>
{% endfor %}
-->

