a{
    color: #222222 ;
}

.image figcaption{
    text-align: center; 
    color: grey; 
    font-size: 0.8em;
    margin: 0.4em;
}


.thumbnail{
    border: thin solid black;
    display: inline-block;
    margin: 25px;
    
}

.thumbnail h3{
    text-align: center;
}

.thumbnail img{
    width: 250px;
    margin: 25px;
}


#default {
    background-color: lightsalmon;

}

#post {
    background-color: whitesmoke;
}

.all_content{
    position: relative;
}

.post_container_top{
    z-index: 10;
    position: absolute;
    margin: auto;
    left:0;
    right:0;
    top:-119px;
    width: 560px;
    height: 140px;
    background-image: url(images/style/post_border_top_img.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    margin-bottom: -16px;

}

.post_container{
    margin: auto; /* horizontally center a block element (like <div>) */
    margin-top: 100px;
    width: 880px;

    border: thin solid;
    border-color: black;
    border: 12px solid transparent;
    border-image: url(images/style/post_border.png) 33 round;


    padding: 6px;   /* 暫時分清楚區塊用*/

}


.head_container{
    margin: 0px 30px 62px 30px;
    text-align: center;

    border: thin solid;
    border-color: lightgray;
}

.head_container h1{
    display: block;
    font-size: 2.1em;
    margin-bottom: -0.3em;
}

.head_container h6{
    display: block;
    font-weight: normal;
    color: grey;
}

.head_picture{
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.article_container{
    margin: 0px 68px 52px 68px;
}

.article_container h1{
    font-size: 1.8em;
}

.article_container img{
    display: block;
    margin: auto;
    width:640px;
}