a{
    color: #222222 ;
}


.image figcaption{
    text-align: center; 
    color: grey; 
    font-size: 0.8em;
    margin: 0.4em;
}


/* <body> style for layouts */
#default {
    background-color: lightsalmon;

}

#post {
    background-color: whitesmoke;
}





/* posts area in home */


.content_section{

}

.thumbnail_container{
    border: thin solid lightpink;
    display: block;
    margin: auto;
    width: 1380px;
    text-align: center;
}

.thumbnail{
    border: thin solid black;
    display: inline-block;
    margin: 20px;
    padding: 12px;
    width: 260px;
    background-color: whitesmoke;
}

.thumbnail h3{
    text-align: center;
}

.thumbnail img{
    width: 260px;
    height: 210px;
    display: block;
    margin: auto;
    object-fit: cover;

}

/* category marking styles */

#default .tag_LN{
    display: block;
    margin: auto;
    width: 120px;
    background-color: lightblue;
    font-size: 0.8em;
    text-align: center;
 
}

#default .tag_TS{
    display: block;
    margin: auto;
    width: 120px;
    background-color: lightgreen;
    font-size: 0.8em;
    text-align: center;
 
}

#default .tag_MM{
    display: block;
    margin: auto;
    width: 120px;
    background-color: lightpink;
    font-size: 0.8em;
    text-align: center;
}



#post .tag_LN {
    color: lightblue;
    font-size: 0.9em;
    text-align: center;
}
#post .tag_TS{
    color: lightgreen;
    font-size: 0.9em;
    text-align: center;
}

#post .tag_MM{
    color: lightcoral;
    font-size: 0.9em;
    text-align: center;
}





.all_content {
    position: relative;
}


.post_container_top{
    z-index: 10;
    position: absolute;
    margin: auto;
    left:0;
    right:0;
    top:-119px;
    width: 560px;
    height: 140px;
    background-image: url(images/style/post_border_top_img.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    margin-bottom: -16px;

}

.post_container{
    margin: auto; /* horizontally center a block element (like <div>) */
    margin-top: 100px;
    width: 880px;

    border: thin solid;
    border-color: black;
    border: 12px solid transparent;
    border-image: url(images/style/post_border.png) 33 round;


    padding: 6px;   /* 暫時分清楚區塊用*/

}


.head_container{
    margin: 10px 30px 62px 30px;
    text-align: center;

    border: thin solid;
    border-color: lightgray;
}

.head_container h1{
    display: block;
    font-size: 2.1em;
    margin-bottom: -0.3em;
}

.head_container h6{
    display: block;
    font-weight: normal;
    color: grey;
}

.head_picture{
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.article_container{
    margin: 0px 68px 52px 68px;
}

.article_container h1{
    font-size: 1.8em;
}

.article_container img{
    display: block;
    margin: auto;
    width:640px;
}
